<!DOCTYPE html>
<html>
<head>
    <title>Indicativos de crime - RS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/custom.css">
</head>
<body>

    <div id="main">
        <div id="sequence"></div>
        <div id="chart">
            <div id="explanation" style="visibility: hidden;">
                <span id="percentage"></span><br/> dos crimes ocorreram aqui
            </div>
        </div>
    </div>

    <div id="sidebar">
        <input type="checkbox" id="togglelegend">Legenda<br/>
        <div id="legend" style="visibility: hidden;"></div>
    </div>


    <script type = "text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script type = "text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="/static/js/d3.min.js"></script>
    <script type = "text/javascript" src="/static/js/crossfilter.min.js"></script>
    <script type = "text/javascript" src="/static/js/d3.min.js"></script>
    <script type = "text/javascript" src="/static/js/queue.min.js"></script>
    <script type = "text/javascript" src="/static/js/charts.js"></script>


</body>
</html>
